@model Multas.Models.Agentes

@{
    ViewBag.Title = "Remover Agente";
}

<h2>Remover um Agente da Base de Dados</h2>

<h3>Tem a certeza que quer remover este agente?</h3>
<div>

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd>
            @*     <img src="~/Imagens/@Html.DisplayFor(model => model.Fotografia)" alt="" title="" width="150"/><br />*@
            <img src="~/Imagens/@Model.Fotografia" alt="" title="" width="150" />

        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>