@*Indica o tipo de dados que a view vai processar*@
@model Multas.Models.Agentes

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Agente<i>@Model.Nome</i></h2>

<div>
    <h4>Agentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotografia)
        </dd>
        <dd>
            @*indicação da imagem do(a) agente*@
            @*<img src="~/imagens/@Html.DisplayFor(model=> model.Fotografia)"
                     alt="imagem do(a) Agente @Html.DisplayFor(model => model.Nome)"
                     title="@Html.DisplayFor(model => model.Nome)"
                     width="150" />*@

                    <img src="~/Imagens/@Model.Fotografia"
                         alt="imagem do(a) Agente @Model.Nome"
                         title="@Model.Nome"
                         width="150" />

                </dd>
    </dl>
    @*Apresentação das multas do agente listado na parte de cima da view*@
    <hr /> 
    <h3>Listagem das multas associadas ao(à) Agente </h3>

    <table class="table">
        <tr>
            <th>
                @*Data da infração*@
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().DataDaMulta)
            </th>
            <th>
                @*Local da infração*@
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().LocalDaMulta)
            </th>
            <th>
                @*Condutor da infração*@
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().Condutor.Nome)
            </th>
            <th>
                @*Viatura da infração*@
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().Viatura.Matricula)
            </th>
        </tr>
        @*Dados das multas*@
        @foreach (var multa in Model.ListaDeMultas)
        {
        <tr>
            <td>@multa.DataDaMulta</td>
            <td>@multa.LocalDaMulta</td>
            <td>
                @*@multa.Condutor.Nome*@ 
                @Html.ActionLink(multa.Condutor.Nome, "Details", "Condutores", new { id = multa.Condutor.ID }, null) 

                    </td>
            <td>@multa.Viatura.Matricula</td>
            
        </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
